/* TODO: Have your plugin's CSS files generated to here. */


#settings_plugin_bigboxfirmware_dep_warning {
	
	border: 25px;
    padding: 25px;
    margin: 25px;
	
	border-width: 10px;
	border-radius: 16px;
	border-style: double;
	border-color: red;
	text-align: center;
	font-size: 20px;
	
	
}

#settings_plugin_bigboxfirmware_printer_settings {


	
	
}


#settings_plugin_bigboxfirmware_workingdialog_output .message {
	font-weight:bold
	}
	
#settings_plugin_bigboxfirmware_workingdialog_output .stdout {
	color:#333
	}
	
#settings_plugin_bigboxfirmware_workingdialog_output .stderr {
	color:#900
	}
	
#settings_plugin_bigboxfirmware_workingdialog_output .call {
	color:#009
	}

#settings_plugin_bigboxfirmware_editDialog {
	width: 800px;
	left: 45%;
}

table td.settings_plugin_bigboxfirmware__profiles_name, table th.settings_plugin_bigboxfirmware_profiles_name
	{
	text-overflow: ellipsis;
	text-align: left
}

table td.settings_plugin_bigboxfirmware_profiles_info, table th.settings_plugin_bigboxfirmware_profiles_info
	{
	text-align: left;
	width: 250px
}

table td.settings_plugin_bigboxfirmware_profiles_action, table th.settings_plugin_bigboxfirmware_profiles_action
	{
	width: 100px;
	text-align: center;
	white-space: nowrap
}

table td.settings_plugin_bigboxfirmware_profiles_action a, table th.settings_plugin_bigboxfirmware_profiles_action a
	{
	text-decoration: none;
	color: #000
}

table td.settings_plugin_bigboxfirmware_profiles_action a.disabled, table th.settings_plugin_bigboxfirmware_profiles_action a.disabled
	{
	color: #ccc;
	cursor: default
}