<div id="settings_plugin_bigboxfirmware">

  

    <div class="pull-right">
        <button class="btn btn-small" data-bind="click: showPluginConfig" title="{{ _('Plugin Configuration') }}"><i class="icon-wrench"></i></button>
    </div>

    <h3>BigBox</h3>

    
</div>
